<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All" verbose="1">
    <listeners>
        <listener class-name="common.MethodInterceptor"/>
    </listeners>
    <test name="One">
        <packages>
            <package name="one">
            </package>
        </packages>
    </test>

    <test name="Two">
        <packages>
            <package name="two">
            </package>
        </packages>
    </test>

</suite>
